extends _layout

block buttons
  a(href="/admin/artwork/create").btn.btn-success 新建艺术品档案
  //- | &nbsp;

block content
  br
  if artworks && artworks.length > 0
    each item in artworks
      .panel.panel-default
        .panel-heading
          a(href="#")
            i.glyphicon.glyphicon-pencil &nbsp;
            = item.title


        .panel-body
          .row
            .col-xs-3.col-md-1
              p.bg-info 标题
            .col-xs-3.col-md-2
              p= item.title
            if item.artist
              .col-xs-3.col-md-1
                p.bg-info 作者
              .col-xs-3.col-md-2
                p= item.artist.name
            if item.coartist
              .col-xs-3.col-md-1
                p.bg-info 协作者
              .col-xs-3.col-md-2
                p= item.coartist.name
            .col-xs-3.col-md-1
              p.bg-info 分类
            .col-xs-3.col-md-2
              p= item.category
            .col-xs-3.col-md-1
              p.bg-info 时代
            .col-xs-3.col-md-2
              p= item.times
            .col-xs-12.col-md-12
              p.bg-info 尺寸
            .col-xs-12.col-md-12
              p= item.size
            .col-xs-12.col-md-12
              p.bg-info 三真链接
            .col-xs-12.col-md-12
              p= item.url