extends _layout
//- include ../utils/mixins

mixin field(_label, _type, _name, _id, _class, _value, _placeholder, _control)
  //- .form-group
  if !_control
    .col-md-2
      label.control-label(for=_id)= _label
    .col-md-4
      input.form-control(class=_class, id=_id, type=_type, name=_name, value=_value, placeholder=_placeholder)
  else
    .col-md-2
      label.control-label(for=_id)= _label
    .col-md-10
      input.form-control(class=_class, id=_id, type=_type, name=_name, value=_value, placeholder=_placeholder)


block buttons
  a.btn.btn-success(href="/admin/artwork") 返回艺术品列表

block content
  .panel.panel-default.artworkCreate
    .panel-heading
      h1.text-center= title
    .panel-body
      form.form-horizontal(id="artworkform" action="/admin/artwork/create" role="form" method="POST")
        input(type="hidden" name="_csrf" value=csrfToken)
        .row
          +field('标题', 'text', 'title', 'title', 'essential')
          +field('大类', 'text', 'category', 'category', '')

        .row
          .col-md-2
            label.control-label(for="artist") 艺术家
          .col-md-4
            select.form-control(name="artist" form="artworkform")#artist
              option(value='') ---
              for artist in artists
                option(value=artist._id)= artist.name
          .col-md-2
            label.control-label(for="coartist") 协作艺术家
          .col-md-4
            select.form-control(name="coartist" form="artworkform")#coartist
              option(value='') ---
              for artist in artists
                option(value=artist._id)= artist.name
        .row
          +field('时代', 'text', 'times', 'times', '')
          +field('尺寸', 'text', 'size', 'size', '')
        .row
          +field('备注', 'text', 'remarks', 'remarks', '', '', '', true)
        .row
          .col-md-12
            input(id="onplatform", type="checkbox", name="onplatform")
            label.control-label(for="onplatform") &nbsp;&nbsp;本艺术品档案在"三真艺术"平台有收录

            //- +field('艺真链接(URL)', 'url', 'url', 'url', '', '', '', true)
            input.form-control(id='sanzhenurl', type='url', name='url', value='' placeholder='在此输入该艺术品在三真艺术网的网址')
        .row
          .form-group
            .col-xs-12.col-md-4.col-md-push-4
              button#submit.btn.btn-primary.col-xs-12(type="submit") 提交
  script(src="/js/artwork.js")