extends _layout

block buttons
  a(href="/admin/doc/create").btn.btn-success 1. 新建纸纹档案
  | &nbsp;
  a(href="/admin/applicant/create").btn.btn-success 2. 新建申请者档案
  | &nbsp;
  a(href="/admin/identify/create").btn.btn-success 3. 新建保真档案(纸纹+申请者)

block content
  br
  if identitys && identitys.length > 0
    each item in identitys
      .panel.panel-default
        .panel-heading
          p= item.artwork.title
        .panel-body
          .row
            .col-xm-3.col-md-1
              p.bg-info 证书编号
            .col-xm-3.col-md-2
              p= item.sid
            .col-xm-3.col-md-1
              p.bg-info 当前状态
            .col-xm-3.col-md-2
              p= item.status
            .col-xm-3.col-md-1
              p.bg-info 比对次数
            .col-xm-3.col-md-2
              p= item.verifys.length
            .col-xm-3.col-md-1
              p.bg-info 保真记录
            .col-xm-3.col-md-2
              p= item.identifys.length
