extends ../layout
include ../utils/mixins

block body
  #identify.container
    .row
      .col-xs-12
        ul.processing
          li.col-md-4.done
            span.leading 1
            span 录入作品资料
          li.col-md-4.undergoing
            span.leading 2
            span 上传纸纹照片
          li.col-md-4
            span.leading 3
            span 完成申请提交
    br
    br

    form.form-horizontal(action="/identify/record" method="POST" enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="_identify" value=identify_id)
      .row
        hr
        ul
          li 红色标签项为必填项
        hr
      .row
        .col-md-4.col-md-offset-1
          //- mixin field(_label, _for, _type, _name, _id, _class)
          +fileField('全景图', 'fullview', 'file', 'fullview', 'fullview', 'essential')
          +fileField('预览图', 'preview', 'file', 'preview', 'preview', 'essential')
          +fileField('纸纹图', 'magnifyview', 'file', 'magnifyview', 'magnifyview', 'essential')
          +field('镜头倍数', 'zoom', 'text', 'zoom', 'zoom', '')
          +field('备注', 'remarks', 'text', 'remarks', 'remarks', '')

        .col-md-5.col-md-offset-1.text-center
          br
          .col-md-6
            canvas#previewCanvas(style="width: 180px; height: 180px; box-shadow: 0 0 1px 0 grey;").img-responsive
            h4 预览图
          .col-md-6
            canvas#magnifyCanvas(style="width: 180px; height: 180px; box-shadow: 0 0 1px 0 grey;").img-responsive
            h4 纸纹图
      .row
        .col-md-4.col-md-offset-4
          button.btn.btn-success.col-xs-12.col-sm-4.col-sm-offset-1(type="submit") 增加一组
          a(href="/identify/post").btn.btn-primary.col-xs-12.col-sm-4.col-sm-offset-2 下一步

      each doc in docs
        br
        .row(style="box-shadow: 0 0 1px 1px grey;padding: 5px 0")
          .col-md-3
            .row
              .col-md-6
                p.bg-info 镜头倍数
              .col-md-6
                = doc.zoom
            .row
              .col-md-12
                p.bg-info 备注内容
              .col-md-12
                span= doc.remarks
          .col-md-9
            if doc.fullview
              -var src = '/uploads/' + doc.fullview;
                .col-md-4
                  img(src=src, alt="").img-responsive
            else
              .col-md-4
                p 无全景图
            if doc.preview
              -var src2 = '/uploads/' + doc.preview;
                .col-md-4
                  img(src=src2, alt="").img-responsive
            else
              .col-md-4
                p 无预览图
            if doc.magnifyview
              -var src3 = '/uploads/' + doc.magnifyview;
                .col-md-4
                  img(src=src3, alt="").img-responsive
            else
              .col-md-4
                p 无纸纹图
        br

