extends ../layout


mixin field(_label, _type, _name, _id, _class, _value, _disabled)
  .form-group.col-md-4.col-xs-6
    label(for=_id)= _label
    input.form-control(type=_type, name=_name, id=_id, _class=_class, value=_value, disabled=_disabled)

mixin imgview(_heading, _imgname, _fullwidth)
  if _fullwidth
    .col-md-12.col-xs-12
      .panel.panel-default
        .panel-heading= _heading
        .panel-body
          if _imgname
            -var url = '/uploads/' + _imgname
            img(src=url, alt=_heading).img-responsive
          else
            p 无
  else
    .col-md-6.col-xs-12
      .panel.panel-default
        .panel-heading= _heading
        .panel-body
          if _imgname
            -var url = '/uploads/' + _imgname
            img(src=url, alt=_heading).img-responsive
          else
            p 无

block body
  //- p= identify
  #identifySubject.container
    h1.text-center #{identify.artwork.title}
    form(action="/identify", method="POST", role="form", enctype="multipart/x-www-form-urlencoded")
      input(type="hidden", name="identify", value=identify._id)
      input(type="hidden", name="artwork", value=identify.artwork._id)
      input(type="hidden", name="sid", value=identify.sid)
      .panel.panel-default
        .panel-heading
          h4 sid: #{identify.sid}
        .panel-body
          +field('艺术品名称', 'text', 'title', 'title', '', identify.artwork.title)
          +field('大类', 'text', 'category', 'category', '', identify.artwork.category)
          +field('URL', 'text', 'url', 'url', '', identify.artwork.url)
          each item in identify.docs
            .row
              +imgview('全景图', item.fullview)
              +imgview('预览图', item.preview)
              if item.zoom
                -var mag = '纸纹图 (放大倍数: ' + item.zoom + ')';
                +imgview(mag, item.magnifyview, true)
              else
                +imgview('纸纹图', item.magnifyview, true)
          input(type="submit", value="保存").btn.btn-primary.col-xs-6.col-xs-offset-3.col-md-4.col-md-offset-4