extends layout

//- Created by volving on 8/31/16.
mixin field(_label, _for, _type, _name, _id, _class, _placeholder)
  .form-group
    label.col-md-5.control-label(for=_for) #{_label}
    .col-md-3
      input.form-control(class=_class id=_id type=_type name=_name)

block body
  .container
    h1.text-center 新用户注册
    br

  .container
    form.form-horizontal(action="/register" role="form" method="POST" enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=csrfToken)

      +field('手机号', 'username', 'text', 'username', 'username', '', '请在此处输入手机号')
      +field('验证码', 'text', 'captcha', 'captcha', '', '')
      +field('登录密码', 'password', 'password', 'password', 'password', '', '')
      +field('备注', 'text', 'remarks', 'remarks', '', '')


      .form-group
        .col-md-3.col-md-push-5
          input#usercontract(type="checkbox" name="usercontract")
          label(for="usercontract") &nbsp;我同意且遵守
          a(href="#") 《用户协议》

      .form-group
        .col-xs-12.col-md-4.col-md-push-4
          button#submit.btn.btn-primary.col-xs-12(type="submit") 提交