extends layout

block body
  #certSearch.container
    .row#search
      form.form-horizontal(action="/search" rol="form" method="GET")
        //- input(type="hidden" name="_csrf" value="#{csrfToken}")
        .col-sm-6.col-sm-offset-2.col-md-6.col-md-offset-2
          input.form-control#searchInput(type="text" name="search" placeholder="请输入保真证书后几位, 例如 57ce***32e4517 的 2e4517, 位数越多越精确")
        .col-sm-2.col-md-2
          input.btn.btn-primary.form-control(type="submit" value="搜索")
    br
    br

    if identifys && identifys.length > 0
      .row#results
        .col-xs-12.card
          each item in identifys
            div(style="margin: .5em; padding: .5em; display: inline-block; float: left; width: 300px; box-shadow: 0 0 1px 0 grey;")
              //- div= item
              if item.docs[0]
                -var src='/uploads/'+item.docs[0].fullview
                img(src=src, alt="").img-responsive
                br
                .col-xs-12.bg-info 标题
                .col-xs-12= item.artwork.title
                .col-xs-12.bg-info 大类
                .col-xs-12= item.artwork.category
                .col-xs-12.bg-info 放大倍数
                .col-xs-12= item.docs[0].zoom
                .col-xs-12.bg-info 编号
                .col-xs-12= item.sid
              else
                br
                img(alt="没有全景图").img-responsive
                .col-xs-12.bg-info 标题
                .col-xs-12= item.artwork.title
                .col-xs-12.bg-info 大类
                .col-xs-12= item.artwork.category
              .col-xs-12
                br
                -var url = "/verify/compare/" + item._id
                a(href=url).btn.btn-primary.col-xs-6.col-xs-offset-3 比对
