extends ../layout
include ../utils/mixins

block head
  link(rel="stylesheet", href="/css/lightslider.css")
block body
  #verify.container
    if docs
      -var len=docs.length
      br
      .row
        .col-md-6
          ul#vertical
            each doc in docs
              if doc.fullview
                -var fullview = "/uploads/" + doc.fullview
                li(data-thumb=fullview)
                  img(src=fullview, alt="" style="width: 100%;")
              if doc.preview
                -var preview = "/uploads/" + doc.preview
                li(data-thumb=preview)
                  img(src=preview, alt="" style="width: 100%;")
              if doc.magnifyview
                -var magnifyview = "/uploads/" + doc.magnifyview
                li(data-thumb=magnifyview)
                  img(src=magnifyview, alt="" style="width: 100%;")
        .col-md-6
          canvas(width="500", height="500", style="box-shadow: 0 0 1px 1px grey; display: block; margin: 0 auto;")#canvas
          br
          .col-md-12
            input.form-control(type="file" id="fileInput" name="fileInput")
          br
          br
          .col-md-12.text-center.btn-group.btn-group-justified
            span.btn.btn-default#rotateAntiClockwise
              i.glyphicon.glyphicon-arrow-left
              i  逆时针旋转
            span.btn.btn-success#rotateReset 重置 (空格键)
            span.btn.btn-default#rotateClockwise
              i 顺时针旋转&nbsp;
              i.glyphicon.glyphicon-arrow-right

block scripts
  script(src="/js/lightslider.js")
  script(src="/js/compare.js")
